/* Styles to second navigation bar */
.sub-navigation{
    text-align: right;
    background-color: #292b2ca4;
}
.sub-navigation a {
    text-decoration: none;
    color: #f7f7f7;
}
.sub-navigation a:hover {
    font-weight: 500;
}
.sub-navigation span{
    color: #f7f7f7b0;
}
/*Logo size*/
.logo {
    width: 170px; 
    height: 38px; 
}
/* workspace styles */
.workspace {
    height: 100vh;
}
/* Size of about us image */
.gp-logo{
    height: 350px;
    width: 350px;
}
/* Size of error page image */
.steth-logo{
    height: 400px;
    width: 400px;
}
